<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>hichat</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/my.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="#">HiChat</a>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">登录</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" id="content">
      <div class="row">

        <div class="col-lg-8" id="main-board">

          <div class="panel panel-default">
            <div id="send-body" class="panel-body">
              聊天信息
            </div>
          </div>

          <div class="input-group">
            <input id="message-input" type="text" class="form-control" placeholder="Hello, World!">
            <span class="input-group-btn">
              <button id="send-btn" class="btn btn-default" type="button">发送</button>
            </span>
          </div><!-- /input-group -->
        </div>

        <div class="col-lg-3">
          <div id="status-friend" class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">当前在线用户</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/my.js"></script>
    <script>
      get_new_messages()
      $("#send-body").height($(window).height()-200);
      $(window).resize(function() {
        $("#send-body").height($(window).height()-200);
      });
    </script>
  </body>
</html>
