#send-body {
    overflow-y: auto;
/*    background-color: #CCFFCC; */
}

#signup-request-form {
    margin-top: 100px;
}

#siginform {
    margin-top: 100px;
}

#signin-error, #signup-error{
    color:red;
}
